@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,800);

body {
  background-image: url('/static/img/bg.png');
  font-family: 'Raleway', sans-serif;
  background-color: steelblue;
  color: #fff;
  padding: 0;
  margin: 0;
}

.navbar-brand {
  text-shadow: 2px 2px 4px #000000;
}

.dropdown-menu {
  background-color: black;
}

a {
  color: #fff;
  text-decoration: none;
}

a:active, a:visited {
  color: #fff;
  text-decoration: none !important;
}

.navbar-nav .li-text {
  line-height: 50px;
}

.highlight {
  color: #1da0b6;
  text-decoration: none;
}

#Nickname {
  text-decoration: underline;
}

#ProfilePicture {
  margin-bottom: 10px;
  border-radius: 100%;
  border: 5px solid steelblue;
}

.container-inv {
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
  .container-inv {
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
  .container-inv {
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
    }

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
  .container-inv {
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
  .container-inv {
    margin-top: 50px;
    padding-top: 75px;
    padding-bottom: 75px;
  }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
  .container-inv {
    margin-top: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
  .container-inv {
    margin-top: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
  .container-inv {
    margin-top: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
    }



@media (min-width: @screen-sm-min) {


 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .container-inv {
    margin-top: 50px;
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  .container-inv {
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.cards {
  border-radius: 5px;
  background-color:rgba(0,0,0,0.6);
  margin: 5px;
  padding: 20px;
  color: #fff;
  overflow: hidden;
}

.main-pad {
  padding: 5px;
  overflow: hidden;
}

.fade-img {
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.fail-404 {
  height: 100%;
  width: 100%;
  padding: 100px;
}

.steps-wrapper {
  /* background: black; */

  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  margin: 20px;
  padding: 10px;
}


.sexy-form {
  margin-bottom: 10px;
}

input
{
  -moz-border-radius: 15px;
 border-radius: 15px;
    border:solid 1px black;
    padding:5px;
}
.sexy-form input[type=text] {
/*   background: black;*/
border-radius: 20px;
  /* color: silver; */
  border: 1px solid #777;
}

.sexy-form textarea {
  /* background: black;
  color: silver; */
  border: 1px solid #777;
}

.sexy-form select {
 /* background: black; */
  color: black;
  border: 1px solid #777;
}

.buttons-coll {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}

button {
    margin: 0px;
}

.custom-btn {
  padding: 10px 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  background: #1da0b6;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%;
}


/**** BTN No. 12 ****/

.btn-12 {
  border: 1px solid #fff;
  border-radius: 4px;
  z-index: 1;
}

.btn-12:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #1da0b6;
}

.btn-12:hover {
  color: #fff;
}

.btn-12:hover:after {
  top: 0;
  height: 100%;
}

.btn-12:active {
  top: 2px;
}

div.centered
{
    text-align: center;
}

div.centered table
{
    margin: 0 auto;
    text-align: left;
}

/* Spinner */
.spinner {
  margin: 0 auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* timer */
/*       */

.prof-wrap {
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  border-radius: 6px;
  /* border: 2px solid #222; */
  overflow: hidden;
}

.prof-title {
  background-color:rgba(30,30,30,1);
  padding:5px;
  padding-left: 10px;
  font-weight: normal;
  font-size: 20px;
}

.prof-header {
  background-color:rgba(0,0,0,0.6);
}

.prof-body {
padding-top: 15px;
background-color: rgba(0,0,0,0.6);
padding:20px;
overflow: hidden;
}

.reg-wrap {
  background-color: rgba(0,0,0,0.6);
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

.numberCircle {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 4px;
  background: #1da0b6;
  border: 6px solid #FFF;
  color: #FFF;
  text-align: center;
  font: 48px Arial, sans-serif;
}

.trunc {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section1 {
  background-color: rgba(0,0,0,0.5);
}
.section2 {
  background-color: rgba(0,0,0,0.6);
  padding-top: 50px;
  padding-bottom: 50px;
}

.section3 {
  background-color: rgba(44,65,120,0.6);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer {
  background: #222;
  padding-top: 50px;
  padding-bottom: 50px;
}

#ProfileBanner {
}

/* Loader 6 */
.loader-6 {
  height: 15px;
  width: 15px;
padding-left: 20px;
padding-right: 20px;
padding-top: 2px;
}
.loader-6 span {
  display: block;
  position: absolute;
  /*top: 0; left: 0;
  bottom: 0; right: 0; */
  margin: auto;
  height: 15px;
  width: 15px;
}
.loader-6 span::before,
.loader-6 span::after {
  content: "";
  display: block;
  position: absolute;
  /*top: 0; left: 0;
  bottom: 0; right: 0; */
  margin: auto;
  height: 15px;
  width: 15px;
  border: 2px solid #FFF;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: loader-6-1 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite;
          animation: loader-6-1 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite;
  padding-right: 10px;

}
@-webkit-keyframes loader-6-1 {
  0%   { -webkit-transform: translate3d(0, 0, 0) scale(0); opacity: 1; }
  100% { -webkit-transform: translate3d(0, 0, 0) scale(1.5); opacity: 0; }
}
@keyframes loader-6-1 {
  0%   { transform: translate3d(0, 0, 0) scale(0); opacity: 1; }
  100% { transform: translate3d(0, 0, 0) scale(1.5); opacity: 0; }
}
.loader-6 span::after {
  -webkit-animation: loader-6-2 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) .25s infinite;
          animation: loader-6-2 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) .25s infinite;
}
@-webkit-keyframes loader-6-2 {
  0%   { -webkit-transform: translate3d(0, 0, 0) scale(0); opacity: 1; }
  100% { -webkit-transform: translate3d(0, 0, 0) scale(1); opacity: 0; }
}
@keyframes loader-6-2 {
  0%   { transform: translate3d(0, 0, 0) scale(0); opacity: 1; }
  100% { transform: translate3d(0, 0, 0) scale(1); opacity: 0; }
}

.btn-primary {
  color: #fff;
  background-color: #1da0b6;
  border-color: #fff
}

.btn-primary:hover {
  color: #fff;
  background-color: #1da0b6;
  border-color: #fff
}

.status-light {
    margin-top: 4px;
    margin-right: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.sl-red {
    background-color: #940;
    box-shadow: @_base-shadow, inset #600 0 -1px 9px, #F00 0 @bottom-bleed @aura-radius;
}

.sl-green {
    background-color: #66ff33;
    box-shadow: @_base-shadow, inset #460 0 -1px 9px, #7D0 0 @bottom-bleed @aura-radius;
}



@bottom-bleed: 0px;
@aura-radius: 8px;


.user-wrap {
  border: 1px solid steelblue;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px;
}

.user-wrap:hover {
  background-color:rgba(0,0,0,0.3);
}

.underline {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  margin-bottom: 5px;
  /* margin-top: 20px; */
}

.overline {
  border-top: 2px solid white;
  padding-top: 5px;
  margin-top: 5px;
}

.donation-wrap {
  /* -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75); */
  border-radius: 6px;
  /* border: 2px solid #222; */
  overflow: hidden;
  margin-top: 20px;
  border: 1px solid #fff;
  padding-bottom: 10px;
}

.donation-title {
  background: #1da0b6;
  padding:5px;
  padding-left: 10px;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 10px;
}

.donation-body {
  padding: 10px;
  /* background: #222;*/
}