@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,800);

body {
  font-family: 'Raleway', sans-serif;
  background-color: steelblue;
  color: #fff;
  padding: 0;
  margin: 0;
  text-shadow: 2px 2px 4px #000000;
}

.navbar-brand {
  text-shadow: 2px 2px 4px #000000;
}

.dropdown-menu {
  background-color: black;
}

/* .content {
  margin: 2.5% auto;
} */

button {
  margin-top: 10px;
}

a {
  color: #fff;
  text-decoration: none; 
}

a:active, a:visited {
  color: #fff;
  text-decoration: none !important;
}

/*

footer {
  background-color: #222;
  color: #6b6b6b;
  font-size: 12px;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center; 
  position: fixed;
  border-radius: 0;
}

@media (min-width: 600px) {
	footer {
    bottom: 0;
  }
}
@media (min-width: 1200px) {
	footer {
    position: fixed;
  }
}

*/

.navbar-nav .li-text {
 line-height: 50px;
}

.highlight {
  color: #377F94;
  text-decoration: none; 
}

#Nickname {
  text-decoration: underline;
}

#ProfilePicture {
  margin-bottom: 10px;
  border-radius: 25px;
  height: 150px;
  width: 150px;
}

.container-inv {
  background-color:rgba(0,0,0,0.6);
   margin-bottom: 50px;
   margin-top: 50px;
   padding: 20px;
}

.cards {
  border-radius: 5px;
  background-color:rgba(255,255,255,0.05);
  margin: 5px;
  padding: 5px;
  color: #fff;
}

.main-pad {
  padding: 5px;
  overflow: hidden;
}

.fade-img {
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
 }

 .fail-404 {
  height: 100%;
  width: 100%;
  padding: 100px;
 }

 .steps-wrapper {
  background: black;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  margin: 20px;
  padding: 10px;
 }