@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,800);

body {
  font-family: 'Raleway', sans-serif;
  background-color: #010101;
  color: #fff;
  padding: 0;
  margin: 0;
}

.dropdown-menu {
  background-color: black;
}

.content {
  margin: 2.5% auto;
}

button {
  margin-top: 10px;
}

a {
  color: #fff;
  text-decoration: none; 
}

a:active, a:visited {
  color: #fff;
  text-decoration: none !important;
}

footer {
  background-color: #222;
  color: #6b6b6b;
  font-size: 12px;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center; 
  position: fixed;
  border-radius: 0;
}

@media (min-width: 600px) {
	footer {
    bottom: 0;
  }
}
@media (min-width: 1200px) {
	footer {
    position: fixed;
  }
}

.highlight {
  color: #377F94;
  text-decoration: none; 
}

#Nickname {
  text-decoration: underline;
}

#ProfilePicture {
  margin-bottom: 10px;
  border-radius: 25px;
  height: 150px;
  width: 150px;
}

.container-inv {
   background: black;
}