@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,800);


.navbar-brand
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
        font-size: 30px;
    }
.dropdown-menu {
  background-color: black;
}


.content {
  margin: 2.5% auto;
}
.container {
  background-color: lightslategrey;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.container-fluid {
  background-color: lightslategrey;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

button {
  margin-top: 10px;
}
a {
  color: #fff;
  text-decoration: none; }
  a:active, a:visited {
    color: #fff;
    text-decoration: none !important; }
body {
  font-family: 'Raleway', sans-serif;
  background-color: #0d94b2;
  color: #fff;}

footer {
  background-color: #0a0a0a;
  color: #6b6b6b;
  font-size: 12px;
  right: 0;
  left: 0;
  text-align: center; }
@media (min-width: 600px) {
	footer {bottom: 0;}}
@media (min-width: 1200px) {
	footer {position: absolute;}}

  .jumbotron {
  background-color: transparent;
  min-height: 350px;
  text-align: center;
  color: floralwhite;
  padding: 0; }
  .jumbotron h1 {
    font-size: 30px;
    font-size: 1.875rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px; }
    @media (min-width: 576px) {
      .jumbotron h1 {
        font-size: 30px;
        font-size: 1.875rem; } }
    @media (min-width: 768px) {
      .jumbotron h1 {
        font-size: 40px;
        font-size: 2.5rem; } }
    @media (min-width: 992px) {
      .jumbotron h1 {
        font-size: 50px;
        font-size: 3.125rem; } }
    @media (min-width: 1200px) {
      .jumbotron h1 {
        font-size: 60px;
        font-size: 3.75rem; } }
  .jumbotron h2 {
    font-size: 11px;
    font-size: 0.6875rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px; }
    @media (min-width: 576px) {
      .jumbotron h2 {
        font-size: 15px;
        font-size: 0.9375rem; } }
    @media (min-width: 768px) {
      .jumbotron h2 {
        font-size: 18px;
        font-size: 1.125rem; } }
    @media (min-width: 992px) {
      .jumbotron h2 {
        font-size: 19px;
        font-size: 1.1875rem; } }
    @media (min-width: 1200px) {
      .jumbotron h2 {
        font-size: 20px;
        font-size: 1.25rem; } }
  .jumbotron p {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
    line-height: 25px; }
    @media (min-width: 576px) {
      .jumbotron p {
        font-size: 30px;
        font-size: 1.875rem;
        line-height: 25px; } }
    @media (min-width: 768px) {
      .jumbotron p {
        font-size: 40px;
        font-size: 2.5rem;
        line-height: 35px; } }
    @media (min-width: 992px) {
      .jumbotron p {
        font-size: 50px;
        font-size: 3.125rem;
        line-height: 50px; } }
    @media (min-width: 1200px) {
      .jumbotron p {
        font-size: 50px;
        font-size: 3.125rem;
        line-height: 50px; } }
  .jumbotron img {
    height: 40px; }
    @media (min-width: 576px) {
      .jumbotron img {
        height: 50px; } }
    @media (min-width: 768px) {
      .jumbotron img {
        height: 65px; } }
    @media (min-width: 992px) {
      .jumbotron img {
        height: 70px; } }
    @media (min-width: 1200px) {
      .jumbotron img {
        height: 75px; } }

        .highlight {
          color: #377F94;
        text-decoration: none; }

#Nickname {
  text-decoration: underline;
}
#ProfilePicture {
  margin-bottom: 10px;
  border-radius: 25px;
  height: 150px;
  width: 150px;
}
