@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,800);

body {
  background-image: url('/static/img/bg.png');
  font-family: 'Raleway', sans-serif;
  background-color: steelblue;
  color: #fff;
  padding: 0;
  margin: 0;
  text-shadow: 2px 2px 4px #000000;
}

.navbar-brand {
  text-shadow: 2px 2px 4px #000000;
}

.dropdown-menu {
  background-color: black;
}

a {
  color: #fff;
  text-decoration: none;
}

a:active, a:visited {
  color: #fff;
  text-decoration: none !important;
}

.navbar-nav .li-text {
  line-height: 50px;
}

.highlight {
  color: #377F94;
  text-decoration: none;
}

#Nickname {
  text-decoration: underline;
}

#ProfilePicture {
  margin-bottom: 10px;
  border-radius: 100%;
  border: 5px solid steelblue;
}

.container-inv {
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cards {
  border-radius: 5px;
  background-color:rgba(0,0,0,0.6);
  margin: 5px;
  padding: 20px;
  color: #fff;
  overflow: hidden;
}

.main-pad {
  padding: 5px;
  overflow: hidden;
}

.fade-img {
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.fail-404 {
  height: 100%;
  width: 100%;
  padding: 100px;
}

.steps-wrapper {
  /* background: black; */

  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  margin: 20px;
  padding: 10px;
}


.sexy-form {
  margin-bottom: 10px;
}

input
{
  -moz-border-radius: 15px;
 border-radius: 15px;
    border:solid 1px black;
    padding:5px;
}
.sexy-form input[type=text] {
/*   background: black;*/
border-radius: 20px;
  /* color: silver; */
  border: 1px solid #777;
}

.sexy-form textarea {
  /* background: black; 
  color: silver; */
  border: 1px solid #777;
}

.sexy-form select {
 /* background: black; */
  color: black; 
  border: 1px solid #777;
}

.buttons-coll {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}

button {
    margin: 0px;
}

.custom-btn {
  padding: 10px 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}


/**** BTN No. 12 ****/

.btn-12 {
  border: 2px solid #000;
  z-index: 1;
}

.btn-12:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #000;
  transition: all 0.3s ease;
}

.btn-12:hover {
  color: #fff;
}

.btn-12:hover:after {
  top: 0;
  height: 100%;
}

.btn-12:active {
  top: 2px;
}

div.centered 
{
    text-align: center;
}

div.centered table 
{
    margin: 0 auto; 
    text-align: left;
}

/* Spinner */
.spinner {
  margin: 0 auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* timer */
/*       */

.prof-wrap {
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  border-radius: 6px;
  /* border: 2px solid #222; */
  overflow: hidden;
}

.prof-title {
  background-color:rgba(30,30,30,1);
  padding:5px;
  padding-left: 10px;
  font-weight: normal;
  font-size: 20px;
}

.prof-header {
  background-color:rgba(0,0,0,0.6);
}

.prof-body {
padding-top: 15px;
background-color: rgba(0,0,0,0.6);
padding:20px;
}

.reg-wrap {
  background-color: rgba(0,0,0,0.6);
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

.numberCircle {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 4px;
  background: #fff;
  border: 6px solid #377F94;
  color: #377F94;
  text-align: center;
  font: 48px Arial, sans-serif;
}

.trunc {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section1 {
  background-color: rgba(255,255,255,0.2);
}
.section2 {
  background-color: rgba(0,0,0,0.6);
  padding-top: 50px;
  padding-bottom: 50px;
}

.section3 {
  background-color: rgba(44,65,120,0.6);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer {
  background: #222;
  padding-top: 50px;
  padding-bottom: 50px;
}

#ProfileBanner {
}