{% extends "base.html" %}

{% block content %}
<div class="container container-inv animated fadeIn">
    <div class="row prof-wrap">
        <div class="col-md-12 prof-title">
        </div>
        <div class="col-md-12 prof-body">
			<div class="underline">
				<div class="highlight" style="font-size: 30px;">About</div>
			</div>
			<div style="padding-top: 5px; font-size: 20px">
				Streamers are facing a huge issue with Paypal donations and that of chargebacks - It makes declaring their incomes all that more complicated along with knowing just how much you're earning whilst streaming, and a whole host of other issues. The Groestlcoin community have developed a completely trustless wallet-to-wallet donation system with the Streamlabs API. There is no third-party handling the transactions, and makes the platform impossible to monetise via fees at a later date like some others are considering.
				<br>
				<br>
				Donating to streamers via a proof-of-work cryptocurrency such as Groestlcoin; however solves a lot of these existing issues. 
				<br>
				<br>
				1. There are NO chargebacks - Like donations should be. Once you receive your cryptocurrency, they are yours and can not be refunded/charged back. This makes ALL donations SERIOUS donations.
				<br>
				<br>
				2. People who watch streamers historically tend to have gaming PCs with some kind of graphics card, or high-powered processor to game themselves (With the exception of console gamers, I suppose). Also whilst you're watching streamers play their games, you aren't likely to be using your graphics card to game. How great would it be to be able to watch your favourite streamers, whilst earning money that you can either keep, or donate, without ever touching your bank account? The Groestlcoin community feel that this is a better and more secure way to earn and send cryptocurrency donations. You can mine Groestlcoin directly, or mine whatever is the most profitable for your hardware and convert it to Groestlcoin (NOTE: MiningPoolHub does this automatically if you enable it!). 
				<br>
				<br>
				Groestltip Github: <a href="http://github.com/Groestlcoin/groestltip-streamlabs">http://github.com/Groestlcoin/groestltip-streamlabs</a>
				<br>
				Groestltip Platform: <a href="http://groestltip.org">http://groestltip.org</a>
			</div>
		</div>
	</div>
</div>


{% endblock %}
