{% extends "base.html" %}

{% block content %}

<!--
{% for user in users: %}
	{{ user.nickname }} | {{ user.user_id }} | {{ user.tx_id }} | {{ user.timestamp }} | {{ user.amount }} | {{ user.twit_user }} | {{ user.twi_message }}
{% endfor %}
-->


<div class="container container-inv animated fadeIn">
    
    <div class="row prof-wrap">
        <div class="col-md-12 col-sm-12 col-xs-12 prof-title">
         <a id="Nickname">{{ nickname }}</a>
        </div>
<div class="row prof-body">
	<div class="col-md-2">
		#
	</div>
	<div class="col-md-2">
		Donator
	</div>
	<div class="col-md-2">
		Streamer
	</div>
	<div class="col-md-2">
		Tx ID
	</div>
	<div class="col-md-2">
		Amount
	</div>
	<div class="col-md-offset-3">
		Time
	</div>

</div>
<div class="row prof-body">
	<div class="col-md-12">

		<hr>
	</div>
</div>
<div style="clear: both">
</div>
	{% for user in tx: %}
<div class="row prof-body">
	<div class="col-md-2">
		{{ user.id }}
	</div>

		<div class="col-md-2">
			{{ user.twi_user }}
		</div>

		<div class="col-md-2">
			<a href="https://www.twitch.tv/{{ user.user_id }}">{{ user.user_id }}</a>
		</div>
		{% if user.tx_id %}
		<div class="col-md-2">
			<a href="https://chainz.cryptoid.info/grs/tx.dws?{{ user.tx_id }}.htm">{{ user.tx_id | truncate(20) }}</a>
		</div>
		{% else %}
		<div class="col-md-2">
			Paypal
		</div>
		{% endif %}
		{% if user.tx_id %}
		<div class="col-md-2">
			{{ user.amount }} GRS
		</div>
		{% else %}
		<div class="col-md-2">
			${{ user.amount }}
		</div>
		{% endif %}

		<div class="col-md-offset-3">
			{{ user.timestamp }}
		</div>

<!-- {{ user.twi_message }}<br/> -->
</div>

{% endfor %}

</div>
</div>








{% endblock %}
