{% extends "base.html" %}

{% block content %}
<div class="section1">
  <div class="container container-inv">

    <div class="row">
      <div align="center"><h1>To get groestltip donations displayed on your stream you need to do the following things:</h1></div>

                  <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                      <div class="numberCircle">
                        1
                      </div>
                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-12">
                      <div class="cards">
                          <p>set up your streaming system to receive streamlabs alerts. Simply download <a href="https://streamlabs.com/streamlabs-obs"><span class="highlight">Streamlabs OBS</span></a>, Very easy to set up!</p>

                          <p>If you prefer other programs, here is a guide for OBS Studio and Xsplit can be found here: <a href="https://support.streamlabs.com/hc/en-us/articles/217615917-Adding-widgets-to-OBS-Xsplit?mobile_site=true"><span class="highlight">Adding widgets to OBS/Xsplit</span></a></p>

                      </div>
                    </div>
                  </div>
                  <div class="row"><div class="col-md-10 col-sm-10 col-xs-12"></div></div>

                  <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                      <div class="numberCircle">
                        2
                      </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                      <div class="cards">
                        <div class="col-md-12">
                          set up your tip page (it is made on first login). Link your <a href="https://www.groestlcoin.org/downloads/"><span class="highlight">groestlcoin wallet (download)</span></a> to the groestltip system <a href="/profile"><span class="highlight">here</span></a> by using a Master Public Key (xpub). This does not let anyone have access to your wallet, it only let us get unused addresses from your wallet. It is read only. A guide to setting up the system using the android wallet can be found here.
                          <div align="center" class="videoWrapper" style=""><iframe width="560" height="315" src="https://www.youtube.com/embed/JVNqekXkwbE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
                          This will also work in the iOS version!
                      </div>
                    </div>
                  </div>
                </div>
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-12">
        <div class="numberCircle">
          3
        </div>
      </div>

      <div class="col-md-10 col-sm-10 col-xs-12">
        <div class="cards">
          <img src="static/img/paypal.png" class="img-responsive" width="200"/>

          If you want, you can also accept Paypal donations! Add your paypal email <a href="/profile"><span class="highlight">here!</span> (must be logged in)</a>

      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-12">
        <div class="numberCircle">
          4
        </div>
      </div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <div class="cards">

          Now you're ready to go! Simply share your groestltip page ( groestltip.groestlcoin.org/user/username ) and let people donate!
      </div>
    </div>
    </div>
</div>



{% endblock %}
