{% extends "base.html" %}

{% block content %}
<div class="content" align="center">
  <div class="col-md-6">
    <img src="static/img/logo.png" class="img-responsive">
  </div>
    <div class="col-md-6">
      <div class="steps-wrapper">
        <h1 class="pb-2">Welcome to Groestl<span class="highlight">Tip</span></h1>
        <h2 class="p-2">Your Groestlcoin tipping service for live video content!<BR>Please pardon our dust.</h2>
        <h1 class="pb-2">Coming Soon!</h1>
        
        <div class="steps">
          <div class="col-md-12">
          
          </div>
        <div class="col-md-12">
          <div class="cards">
            <h2>
              <span class="highlight">Step 1)</span>
            </h2>
              Connect to <img src="static/img/streamlabs_logo.png" class="img-responsive" width="250"/>
          </div>
          <div class="cards">
            <h2>
              <span class="highlight">Step 2)</span>
            </h2>
            Connect your wallet
          </div>
          <div class="cards">
            <h2>
              <span class="highlight">Step 3)</span>
            </h2>
              Profit!
          </div>
          <div class="col-md-12">
            <a class="btn btn-primary hvr-grow" href="/launch" role="button">Get Started</a>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
