<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header class="logo-bar">
        <div class="container">
            <div class="d-flex justify-content-start align-items-center logo-bar">
                <div class="p-2"><img src="static\img\CoinJerk_logo.png"></div>
                <div class="p-2 sml-text hidden-sm-down">Your Bitcoin tipping service for live video content!</div>
                <div class="ml-auto p-2 button1">Learn More</div>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="jumbotron py-5">
            <div class="container">
                <h1 class="pb-2">Welcome to Coin<span class="highlight">Jerk</span></h1>
                <h2 class="p-2 hidden-md-up">Your Bitcoin tipping service for live video content!</h2>
                <p><span class="highlight">Step 1)</span> Connect to <img src="static/img/streamlabs_logo.png" /></p>
                <p><span class="highlight">Step 2)</span> Connect your wallet</p>
                <p><span class="highlight">Step 3)</span> Profit!</p>
                <div class="button1">Get Started</div>
            </div>
        </div>

        <div class="container">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <div class="card bg-inverse">
                        <div class="card-block">
                            <h1 class="card-title">Why BitCoin</h1>
                            <h3 class="card-subtitle mb-1">Bitcoin Soverignty</h3>
                            <p class="card-text">With Bitcoin, your finances are completely soverign. Your money is your own. There is no bank, and no company that can get between you and your Bitcoins.</p>
                            <h3 class="card-subtitle mb-1">Bitcoin Protection</h3>
                            <p class="card-text">All confirmed Bitcoin transactions are irreversible. The transactions are binding once they are posted to the Bitcoin network. Your Bitcoins are yours and usable immediately. There is no 180-day 'chargeback' fear.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card bg-inverse">
                        <div class="card-block">
                            <h1 class="card-title">Why CoinJerk</h1>
                            <h3 class="card-subtitle mb-1">CoinJerk "Wallet"</h3>
                            <p class="card-text">CoinJerk does not host your wallet. A wise man once said, "If you control the Bitcoin keys, it's your Bitcoin." With CoinJerk, you are in complete control of the Bitcoin keys.</p>
                            <h3 class="card-subtitle mb-1">CoinJerk Source</h3>
                            <p class="card-text">CoinJerk is completely open-source code, with an MIT license. At any time any user can review code used on CoinJerk to audit your Bitcoin security. If you do not feel secure using official CoinJerk servers, you are also free
                                to host your own CoinJerk server.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <p class="justify-content-center d-flex mb-0 py-3">&copy; 2017 CoinJerk.com | All rights reserved.</p>
        </div>
    </footer>


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>
