{% extends "base.html" %}

{% block content %}
<div class="content" align="center">
  <div class="col-md-6">
    <img src="static/img/logo.png" class="img-responsive">
  </div>
    <div class="col-md-6">
      <div class="steps-wrapper">
        <h1 class="pb-2">Welcome to Groestl<span class="highlight">Tip</span></h1>
        <h2 class="p-2">Your Groestlcoin tipping service for live video content!<BR>Please pardon our dust.</h2>
          <div class="steps">

            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="numberCircle">
                  1
                </div>
              </div>

              <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="cards">
                    Connect to <img src="static/img/streamlabs_logo-light.png" class="img-responsive" width="250"/>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="numberCircle">
                  2
                </div>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="cards">
                  Connect your wallet
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="numberCircle">
                  3
                </div>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="cards">
                    Profit!
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-12">
              </div>
              <div class="col-md-10 col-sm-10 col-xs-12">
                  <a class="btn btn-primary hvr-grow" href="/launch" role="button">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
