{% extends "base.html" %}

{% block content %}

<div class="container">
<h1>Register with CoinStream</h1>
<h2>Registering user {{ session['nickname'] }}</h2>
Please fill out relevant information below.<br><br>

    <p><strong>Please understand that by signing up for CoinStream as a serivce, that CoinStream service is provided "As Is", without express or implied warranty or fitness for a particular purpose.</strong></p>
    <p>By signing up for CoinStream you are agreeing to use the service at your own risk, and that in no event shall the authors or copyright holders be liable for any claim, damages, or other liability, whether in an action of contract, tort or otherwise,
    arising from, out of, or in connection with the software, service, or the use of other dealings related.</p>
<form class="form form-vertical" action="/newuser" method=post 
    role="form" name="RegisterForm">
    <dl>
        {{ form.hidden_tag() }}
        <label for="xpub_field">Your Extended Public Key</label>
        <div class="input-group input-group-sm col-lg-6">
            <input type="text" 
            class="form-control" 
            placeholder="Should start with 'xpub'" 
            aria-describedby="basic-addon2"
            name=xpub_field>
        </div>

        <div class="input-group input-group-sm col-lg-6">
            <textarea type="text" rows="3"
            class="form-control" 
            placeholder="What do you want your tippers to see on your page?" 
            aria-describedby="basic-addon2"
            name=user_display_text_field></textarea>
        </div>

        <!-- Single button -->
            <select class="selectpicker" name=fiat_field>
                {% for item in form.fiat_field %}
                <option>{{ item.label }}</option>
                {% endfor %}
            </select>
        </div>
    </dl>
    <p><input type=submit value="Accept Terms & Register">
</form>
</div>

{% endblock %}

