<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse navbar-fixed-top">
    <a class="navbar-brand" href="/">Gro<span class="highlight">nate</span></a>
    <div class="collapse navbar-collapse" id="appNavigation" aria-labelledby="Link">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/login">Login</a>
        <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href=""><i class="fa fa-file-text-o"></i> How</a>
      <a class="dropdown-item" href=""><i class="fa fa-info"></i> About</a>
    </div>
  </li>
      </div>
    </div>
  </nav>