<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

        <!-- Website CSS style -->
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">

        <!-- Website Font style -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
        <title>Admin</title>
    </head>
    <body>
        <table class="table table-condensed">
            <thead>
                <th>Name</th>
                <th>Random Number</th>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td> {{ user.name }}</td>
                    <td> {{ user.num }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container-fluid">
            <div class="row main">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h1 class="title">{{ nickname }}</h1>
                    </div>
                </div> 
                <div class="container-fluid col-md-6 main-login main-center">
                    <form class="form-horizontal" method="post" name="ProfileForm" action="#">

                        <div class="form-group cols-sm-2">
                            <label for="email" class="cols-sm-2 control-label">Your New Extended/Master Public Key</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="xpub_field" id="email"  placeholder="Enter Your xpub"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Display Text</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-comment" aria-hidden="true"></i></span>
                                    <textarea class="form-control" rows="3" name="user_display_text_field" id="password"  placeholder="Enter your text to display on your tip page."></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                        </div>
                        <div class="login-register">
                            <a href="index.php">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    </body>
</html>
