{% extends "base.html" %}

{% block head %}
{{super()}}


{% endblock %}
{% block content %}
  <script>
    var socialId = '{{ social_id }}';
  </script>
  <script>GetURL({{ social_id|tojson }});</script>
  <div class="col-md-4">
    <img src="http://www-cdn.jtvnw.net/images/xarth/404_user_50x50.png" alt="" id="ProfilePicture"/>
  </div>
  <div class="col-md-8">
    <h1 id="Nickname">{{ nickname }}</h1>
    <a href="{{url_for('twitch', username=nickname)}}">twitch.tv/{{ social_id }}</a>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-8">
      <form role="form" id="user_form" action="#">
        <div class="form-group">
          <label for="user_display">Your Twitch Username</label>
          <input type="text" class="form-control" id="user_display" placeholder="Optional: if left empty, will show as &quot;AnonymousGroestler&quot; or &quot;AnonymousDonator&quot;">
        </div>
        <div class="form-group">
          <label for="user_identifier">Email</label>
          <input type="text" class="form-control" id="user_identifier" placeholder="Optional: if empty, will be grouped as anonymous GRS or Paypal tip.">
        </div>
        <div class="form-group">
          <label for="user_message">Tip Message</label>
          <textarea maxlength="255" class="form-control" id="user_message" rows="3" placeholder="Optional: Maximum of 255 characters"></textarea>
        </div>
        <div class="form-group  ">
          <button id="showModalButton" class="btn btn-primary button1 hvr-grow">Show Groestlcoin Address</button>
        </div>
      </form>
    </div>

      <div class="col-sm-4">
        <div class="card bg-inverse">
          <div class="card-block" id="addressLocation">
            <div id="addressText">
              <p>The address to send your groestlcoin will appear <strong>here</strong> once you press the <span class="highlight">Show Groestlcoin Address</span> button.</p>
              <p>Please make sure that you've filled in the forms <strong>before</strong> hitting the button.</p>
              <p>OR</p>
              <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" onsubmit="createPayRequestPaypal()">
                <div class="form-group">
                  <script>
                    var user = $("#user_display").val();
                  </script>
                  <p>Enter amount you want to donate with Paypal</p>
                  <input id="amountPaypalInput" placeholder="Amount" class="form-control" required>
                  <input id="PaypalTwitchImgURL" type="hidden" name="image_url" value="http://www-cdn.jtvnw.net/images/xarth/404_user_50x50.png">
                  <input id=PaypalAmount type="hidden" name="amount" value="1">
                  <input type="hidden" name="custom" value="{{ social_id }}">
                  <input id=ReturnLink type="hidden" name="return" value="">
                  <input type="hidden" name="cancel_return" value="http://127.0.0.1:5000/cancelled">
                  <input type="hidden" name="business" value="{{ email }}">
                  <input type="hidden" name="cmd" value="_donations">
                  <input type="hidden" name="item_name" value="Donate to www.twitch.tv/{{ social_id }} via Paypal">
                  <input type="hidden" name="item_number" value="Donation">
                  <input type="hidden" name="currency_code" value="USD">
                  <input type="hidden" name="rm" value="2">
                </div>
                <div>
                  <input type="submit" name="submit" class="btn btn-primary hvr-grow" value="Donate">
                  <img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
                </div>
              </form>
            </div>
            <div id="randomInt"></div>
            <div id="addressQR" class="py-3 centered"></div>
            <div id="addressLink"></div>
            <div id="formBox"></div>
          </div>
        </div>

      </div>
  </div>

{% endblock %}
