{% extends "base.html" %}

{% block content %}
<script src="/static/js/scripts.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script>GetURL({{ social_id|tojson }});</script>

<div class="content" align="center">
    <div class="col-md-3">
    <img src="http://www-cdn.jtvnw.net/images/xarth/404_user_50x50.png" alt="" id="ProfilePicture" class="img-responsive"/>

    </div>
    <div class="col-md-9">
        <div class="col-md-12">
            <h1 id="Nickname">{{ nickname }}</h1>
            <a href="{{url_for('twitch', username=nickname)}}">twitch.tv/{{ social_id }}</a>
            <hr>
            <p>{{ display_text }}</p>
        </div>
        <div class="col-md-12">
            <a href="{{url_for('tip', username=nickname)}}" class="custom-btn btn-12">Tip</a>
        </div>
    </div>
</div>
{% endblock %}
