{% extends "base.html" %}

{% block content %}
<div class="container container-inv animated fadeIn">
    <div class="row prof-wrap">
        <div class="col-md-12 col-sm-12 col-xs-12 prof-title">
        	<a id="Nickname">{{ nickname }}</a>
        </div>
		<div class="row prof-body">
			<div class="col-md-4">
			Streamer
			</div>

			<div class="col-md-4">
				Channel
			</div>

			<div class="col-md-4">
				Tip Page
			</div>
			<div class="col-md-12">
				<hr>
			</div>
		</div>
<div class="prof-body">

{% for user in users: %}
    <script>
    	GetStreamStatus({{ user.social_id|tojson }});
    </script>
	<script>
		GetURL({{ user.social_id|tojson }});
	</script>
	<div class="col-md-2">
		<div class="row">
			<div align="center">
				<a href="/user/{{ user.nickname }}">{{ user.nickname }}</a>
			</div>	
		</div>
		<div class="row">
			<div>
				<a href="http://twitch.tv/{{ user.social_id }}"><span><i class="fab fa-twitch"></i></span> twitch.tv/{{ user.social_id }}</a>
			</div>	
		</div>
		<div class="row">
			<div align="center" style="width:100px;">
				<!-- notworking:
				<span id="Status"></span>
			-->
			</div>	
		</div>
	</div>
	

{% endfor %}
</div>

</div>
</div>





{% endblock %}
