{% extends "base.html" %}

{% block content %}
<div class="container container-inv animated fadeIn">


<script src="/static/js/scripts.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script>GetURL({{ social_id|tojson }});</script>
<script>GetBannerURL({{ social_id|tojson }});</script>


<div class="row prof-wrap">
        <div class="col-md-12 prof-title">
            <a id="Nickname">{{ nickname }}</a>
        </div>
        <div class="col-md-12 prof-header">
            <div class="row">
                <div id="ProfileBanner">
                </div>
            </div>
        </div>
        <div class="col-md-12 prof-body">
            <div class="col-md-3">
              <img src="http://www-cdn.jtvnw.net/images/xarth/404_user_50x50.png" alt="" id="ProfilePicture" class="img-responsive"/>
              <div>
                <center>
                    <i class="fab fa-twitch"></i><span> </span><a href="{{url_for('twitch', username=nickname)}}">http://twitch.tv/{{ social_id }}</a>
                </center>
              </div>
              <hr>
              <div>
                <center>
                    <p id="Note">Note: We Recommend using a fresh xpub (new wallet). First address "generation" on a wallet with many used addresses takes more time.</p>
                </center>
              </div>
            </div>

            <div class="col-md-9">
                <h1 class="title">User Settings</h1>
                <hr>
                    <form class="" method="post" name="ProfileForm" action="#">
                        <div class="form-group">
                            <label for="xpub" class="control-label">Wallet Master Public Key (xpub) </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-code"></i></span>
                                <input type="text" class="form-control" name="xpub_field" id="xpub"  value="{{ xpub }}" placeholder="Example: xpub6APEnZ.... (111-char)" required> </input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="control-label">Your Paypal Email</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-envelope"></i></span>
                                <input type="text" class="form-control" name="paypal_email_field" id="email" value="{{ email }}" placeholder="Optional: If you want to recieve paypal donations"> </input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="text" class="">Tell us a little about yourself (maximum of 255 characters) </label>
                            <div class="for">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fas fa-comment"></i></span>
                                    <textarea class="form-control" rows="3" name="user_display_text_field" id="text" placeholder="{{ display_text }}"></textarea>
                                </div>
                            </div>
                        </div>

                        <h1 class="title">Donation Alert Settings</h1>
                        <hr>

                        <div class="form-group">
                            <label for="image" class="control-label">Image/GIF (link)</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-font"></i></span>
                                <input type="text" class="form-control" name="image_ref_field" id="image" value="{{ image_ref }}" placeholder="Default: https://cdn.discordapp.com/attachments/416659759178055688/417986781053452288/grsloop.gif"> </input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="sound" class="control-label">Sound (link)</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-music"></i></span>
                                <input type="text" class="form-control" name="sound_ref_field" id="sound"  value="{{ sound_ref }}" placeholder="Default: http://uploads.twitchalerts.com/000/003/774/415/m_health.wav"> </input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="color" class="control-label">Text Color</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-font"></i></span>
                                <input type="color" class="form-control" name="text_color_field" id="color" value="{{ color }}" placeholder="Default: #0066ff (blue)"> </input>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary-cstm btn-lg btn-block login-button">Update</button>
                        </div>
                    </form>

        </div>
    </div>

</div>
{% endblock %}
