{% extends "base.html" %}

{% block content %}

<div class="content" align="center">
  <div class="">
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/jquery.min.js"></script>
        <!-- <h1 class="pb-2">Welcome to Gro<span class="highlight">Nate</span></h1> -->
    <script>GetURL({{ social_id|tojson }});</script>
    <img src="http://www-cdn.jtvnw.net/images/xarth/404_user_50x50.png" alt="" id="ProfilePicture"/>
    <h1 id="Nickname">{{ nickname }}</h1>
    <a href="{{url_for('twitch', username=nickname)}}">twitch.tv/{{ social_id }}</a>
    <hr>
    <p>{{ display_text }}</p>
    <a class="btn btn-primary" href="{{url_for('profile')}}" role="button">Edit</a>
  </div>
</div>

{% endblock %}
